/* progress[value] {
  width: 100%;
  height: 60px;
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: transparent;
  border: 4px solid #fff;
  overflow: hidden;
  padding: 4px;

  border-radius: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #bada55;
  border-radius: 40px;
}
progress[value]::-moz-progress-bar {
  background-color: #bada55;
} */
